@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #14131a;
    color: white;
    font-family: "Urbanist", sans-serif;
}

.loader{
    background: #14131a;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-img{
    width: 20px;
    height: 20px;
}